Сессия: {{ session|raw }}
<form method="post">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Источник</th>
            <th>VK</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for row in data %}
            <tr>
                <td>{{ row.id }}</td>
                <td><a href="/cp/blog?id={{ row.id }}" target="_blank">{{ row.name }}</a></td>
                <td>{{ row.vkId }}</td>
                <td>{{ row.vkProfile }}</td>
                <td></td>
            </tr>
        {% endfor %}
        {% if isPost %}
            <tr>
                <td></td>
                <td><input type="text" name="name" placeholder="Название"></td>
                <td><input type="text" name="vkId" placeholder="ID группы"></td>
                <td><input type="hidden" name="vkProfile" value="{{ session }}"></td>
                <td><input type="submit" value="Добавить" class="btn btn-success btn-xs"></td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</form>